.button {
    padding: 10px 20px;
    border: 1px solid black ;
    border-radius: 1rem;
    cursor: pointer;
    width: fit-content;
}
.button:hover {
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.button:active {
    transform: scale(0.95);
}