.container {
    width: 150px;
    aspect-ratio: 1/1;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    text-transform: capitalize;
}
.container:hover {
    transform: scale(1.1);
}
.container:active {
    transform: scale(0.95);
}

/* media queries for mobile  */
@media (max-width: 600px) {
    .container {
        width: 90px;
    }
}
.container:hover {
    transform: scale(1.1);
}